

h1{
    color: silver
}

td,th{
    color: silver;
   
}

table{
    border: 2px;
    border-color: silver;
}
body{
    background: url("http://getwallpapers.com/wallpaper/full/6/1/9/19658.jpg");
    text-align: center;
    
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid silver;
} 
Try it Yourself »